*.pth
UNet-Version-master.tar.gz
UNet-Version-master.tar
*.zhonzxad-pc
*.pyc
源代码.zip
UserProject/Data/
*.1637120581.8f5952220c6a
tfboard/
log/
logs/
predict.py
.idea/
.vscode/
VOCdevkit
*.tar
*.tar.gz

# UserProject项目
.run/
!/UserProject/Data/
DeepNetTrainWork-main.zip
/UserProject/Data/*
Data/*

# Signal项目
/SignalModel/UNet_Pytorch/datasets/*
/SignalModel/UNet_Pytorch/predict/*

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version
