*.pth
UNet-Version-master.tar.gz
UNet-Version-master.tar
*.zhonzxad-pc
*.pyc
源代码.zip
UserProject/Data/
*.1637120581.8f5952220c6a
tfboard/
log/
logs/
predict.py
.idea/
.vscode/
VOCdevkit
*.tar
*.tar.gz
.run/
!/UserProject/Data/
